.dx-datagrid-headers td {
    background-color: var(--color-background) !important;
    color: white !important;
    font-weight: bold;
    border-bottom: 2px solid #1890ff;
}


.dx-datagrid-headers .dx-datagrid-table th {
    border-right: 1px solid #d9d9d9;
}

/* Chỉnh nội dung của header vào giữa */

.dx-datagrid-headers .dx-header-row>td {
    text-align: center !important;
}


.dx-datagrid-headers .dx-datagrid-table th:last-child {
    border-right: none;
}

.dx-datagrid-rowsview .dx-row-alt {
    background-color: #1890ff !important;
    /* xanh nhạt hơn */
}

.dx-datagrid-rowsview .dx-row:hover {
    background-color: #e6f7ff !important;
}


/* Thay màu nền của dòng xen kẽ */
.dx-datagrid-rowsview .dx-row-alt>td {
    background-color: #f0f9ff !important;
}

